<html>
<head>

</head>
<body>
<span>Upload your dataset here (Select the files not a Zip)</span>
<form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
    <input id="file" type="file" name="file" multiple="multiple" >
    <button class="submit" name="submit" value="Upload">Submit</button>
</form>
</body>
</html>


