<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="container" class="container">
    <div class="header">
        <h3 class="text-muted">Skew Calculation</h3>
        <hr/>
        <h4>Frequency distribution of the Labels</h4>
    </div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
    var color = "steelblue";
    var values = {{ numeric_pred }};

    var formatCount = d3.format(",.0f");

    var margin = {top: 20, right: 30, bottom: 30, left: 30},
        width = 1000 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;


    var max = d3.max(values);
    var min = d3.min(values);
    var x = d3.scale.linear()
        .domain([min, max])
        .range([0, width]);

    // Generate a histogram using twenty uniformly-spaced bins.
    var data = d3.layout.histogram()
        .bins(3)
        (values);

    var yMax = d3.max(data, function (d) {
        return d.length
    });
    var yMin = d3.min(data, function (d) {
        return d.length
    });
    var colorScale = d3.scale.linear()
        .domain([yMin, yMax])
        .range([d3.rgb(color).brighter(), d3.rgb(color).darker()]);

    var y = d3.scale.linear()
        .domain([0, yMax])
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .ticks(2)
        .tickFormat(function(d){
            console.log(d);
            if(d<1){
                return "Sighted"
            }else if (d<2){
                return "Impaired"
            }
            else{
                return "AI"
            }
        })
        .orient("bottom");

    var svg = d3.select("div#container").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var bar = svg.selectAll(".bar")
        .data(data)
        .enter().append("g")
        .attr("class", "bar")
        .attr("transform", function (d) {
            return "translate(" + x(d.x) + "," + y(d.y) + ")";
        });

    bar.append("rect")
        .attr("x", 0)
        .attr("width", (x(data[0].dx) - x(0)) - 1)
        .attr("height", function (d) {
            return height - y(d.y);
        })
        .attr("fill", function (d) {
            return colorScale(d.y)
        });

    bar.append("text")
        .attr("dy", ".75em")
        .attr("y", -12)
        .attr("x", (x(data[0].dx) - x(0)) / 2)
        .attr("text-anchor", "middle")
        .text(function (d) {
            return formatCount(d.y);
        });

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);
</script>


</body>
</html>