<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">Uploaded files</h3>
    </div>
    <hr/>
    <div>
        <ul>
            {% for file in filenames %}
{#                <li><a href="{{ url_for('uploaded_file', filename=file) }}">{{ file }}</a></li>#}
                <img id="images" class="zoom images" src="{{ url_for('uploaded_file', filename=file) }}">
            {% endfor %}
        </ul>
    </div>
    <div class="header">
        <hr/>
        <h3 class="text-muted">Calculate Skew in your dataset</h3>
        <form method="post" action="{{ url_for('calculateSkew') }}">
            <button class="submit" name="submit" value="Upload">Submit</button>
        </form>
    </div>
    <hr/>
</div>
</body>
</html>